.logo {font-size: 20px;}

nav {background-color: rgb(0, 16, 106); padding: 1rem; border-radius: 10px;}

nav ul {list-style-type: none;margin: 0; padding: 0; display: flex; justify-content: space-around;}

nav ul li {display: inline;}

nav ul li a {color: white; text-decoration: none; padding: 0.5rem 1rem; display: block;}

nav ul li a:hover {background-color: rgb(179, 179, 179); border-radius: 5px;}

body{background: linear-gradient(to bottom left , #2fe453, #0f733c);}
#title {text-align: center; color: rgba(43, 78, 38, 0.895); font-family: tf2;transform: scale(2); margin-right: 370px; margin-left: 370px;}
p {color: rgb(0, 0, 0); }
div{border:  2px; border-radius: 10px; border-color: rgb(75, 75, 75); 
background-color: rgba(146, 246, 113, 0.408); border-style: double; margin-left: 500px; margin-right: 500px;
margin-top: 30px; margin-bottom: 30px; padding-left: 10px;}
@font-face {
    font-family: tf2;
    src: url(fonts/tf2build.ttf);
}