
nav {background-color: rgb(0, 16, 106); padding: 1rem; border-radius: 10px;}

nav ul {list-style-type: none;margin: 0; padding: 0; display: flex; justify-content: space-around;}

nav ul li {display: inline;}

nav ul li a {color: white; text-decoration: none; padding: 0.5rem 1rem; display: block;}

nav ul li a:hover {background-color: rgb(179, 179, 179); border-radius: 5px;}


#title {text-align: center; font-family: tf2; color: crimson; transform: scale(1.5);}


body{background: linear-gradient(to bottom left , #ffcece, #ff8282);background-color: aqua;}







@font-face {
    font-family: tf2;
    src: url(fonts/tf2build.ttf);
}