
body{background: linear-gradient(to bottom left , #ffa35c, #ff3e3e);background-color: aqua;}
@font-face {
    font-family: tf2;
    src: url(fonts/tf2build.ttf);
}

div{text-align: center;border:  2px; border-radius: 10px; display: block; border-color: rgb(75, 75, 75); margin: 0 auto; padding: 20px 0;
background: linear-gradient(to bottom left, #777dd1, #f57272); border-style: double;margin-left: 150px; margin-right: 150px;
margin-top: 30px; margin-bottom: 30px;}

#team {color: rgb(255, 0, 0); text-align: center; font-family: tf2; transform: scale(1.6); margin-right: 330px; margin-left: 330px;}
.person:hover {color: red;}

.logo {font-size: 20px;}

nav {background-color: rgb(0, 16, 106); padding: 1rem; border-radius: 10px;}

nav ul {list-style-type: none;margin: 0; padding: 0; display: flex; justify-content: space-around;}

nav ul li {display: inline;}

nav ul li a {color: white; text-decoration: none; padding: 0.5rem 1rem; display: block;}

nav ul li a:hover {background-color: rgb(179, 179, 179); border-radius: 5px;}
